* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Neue", cursive;
  color: #000;
  background-color: #fcf8f8;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 150px auto auto;
}
